
    <div class="container">
        <% @articales.each do |articale| %>
            <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                    <% if articale.user %>
                      by <%= link_to articale.user.username, user_path(articale.user) %>
                    <% end %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to articale.title, articale_path(articale), class: "text-success" %></h5>
                    <p class="card-text"><%= truncate(articale.description, length: 100) %></p>
                    <div class="row">
                        <div class="col">
                            <%= link_to "View", articale_path(articale), class: "btn btn-outline-success" %>
                        </div>
                        <% if logged_in? && articale.user == current_user %>
                            <div class="col">
                                <%= link_to "Edit", edit_articale_path(articale), class: "btn btn-outline-info" %>
                            </div>
                            <div class="col">
                                <%= button_to "Delete", articale_path(articale), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <small>Created <%= time_ago_in_words(articale.created_at) %> ago, 
                    edited <%= time_ago_in_words(articale.updated_at) %> ago</small>
                </div>
                </div>
            </div>
            </div>
        <% end %>
    </div>